/* html {
    background-image: url(/header-bg.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */

  /* img.background {
    min-height: 100%;
    min-width: 640px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0; */
  
    /* Зависит от размера изображения
    @media screen and (max-width: 640px){
      img.bg {
        left: 50%;
        margin-left: -320px;
      }
    } */
  

body{
    margin: 0;
    width: 1920px;
}

a{
  text-decoration: none;
  color: #E4B564;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.image {
    position: relative;
    width: 1920px; 
    height: 1280px;
    }

.header{
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  margin-left: 230px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  

.header2{
  position: absolute;
  top: 50px;
  left: 0;
  margin-left: 1040px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  font-size: 25px;
}

.button{
  margin-left: 1149px;
  border: 2px solid;
  border-color: #B08C4D;
  background-color: rgb(42, 36, 36);
  color: #B08C4D;
  text-decoration: none;
  width: 218px;
  font-weight: 400;
  font-size: 18px;
  height: 50px;
  margin-top: 41px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.coloryel{
  color: #D6AF76;
}

.text1{
    position: absolute;
    top: 90px;
    left: 0;
    color:white;
    width: 100%;
    margin-left: 230px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

h1{
  font-size: 50px;
}    
  
.text2{
  font-weight: 700;
  font-size: 20px;
}

.content1{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  grid-template-areas: 
  " a b b c"
  " d d e e";
  grid-row-gap: 27px;
  grid-column-gap: 27px;
  position: absolute;
  top: 290px;
  left: 0;
  /* width: calc(100% - 460px); */
  height: 963px;
  width: 1455px;

  
  margin-left: 230px;
 
  /* margin-right: 230px; */

}   
    
/* .box{
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: #000;
} */

/* h2 span {
    color: #fff;
    font-size: 30px;
    line-height: 55px;
    background: rgba(0, 0, 0, 0.7);
    background: #000;
    padding: 10px;
    } */

.slide1{
   display: flex;
   
}



.box1{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: a;
  width: 467px;
  height: 468px;
  background-color: #634F2C;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}
.box2{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: b;
  width: 487px;
  height: 468px;
  background-color: #B4A385;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  text-align: center;
}
.box3{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: c;
  width: 444px;
  height: 468px;
  background-color:  #E4B564;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  
}
.box4{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: d;
  width: 725px;
  height: 468px;
  background-color:#635A4A;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}
.box5{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: e;
  width: 701px;
  height: 468px;
  background-color:  #B08C4D;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  
}

.image2{
  position:relative;
  width: 1920px; 
  height: 1280px;
}

.text3{
  position: absolute;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* top: -1200px; */
  width: 977px;
  
  color:white;
  grid-area: x;
}

.slide2{
  position: absolute;
  display: grid;
  grid-template-rows: 150px 873px;
  grid-template-columns:  467px  467px  467px;
  grid-template-areas: 
  " x x x"
  " y z u";
  /* grid-row-gap: 24px; */
  grid-column-gap: 30px;
  margin-left: 230px;
  top: 1350px;
}

.container1{
  display: grid;
  grid-row-gap: 24px;
  grid-template-rows: 313px 560px;
  grid-area: y;
  background-color: none;

}

.container2{
  display: grid;
  grid-row-gap: 24px;
  grid-template-rows: 439px 405px;
  grid-area: z;
  background-color: none;
}

.container3{
  display: grid;
  grid-row-gap: 24px;
  grid-template-rows: 255px 313px 277px;
  grid-area: u;
  background-color: none;
}

.box6{
  background-color: #0E0E0E;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 52px;
  padding-top: 44px;
}

.box7{
  background-color: #1F1F1F;
  color: white;
  font-size: 20px;
  font-weight:  500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 52px;
  padding-top: 56px;
}


.box8{
  background-color: #242424;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 51px;
  padding-top: 44px;
}

.box9{
  background-color: #E4B564;
  color: black;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 52px;
  padding-top: 47px;
}

.box10{
  background-color: #1F1F1F;
  color: white;
  font-size: 20px;
  font-weight:  500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 48px;
  padding-top: 44px;
}

.box11{
  background-color: #0E0E0E;
  color: white;
  font-size: 20px;
  font-weight:  500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 48px;
  padding-top: 44px;
}

.box12{
  background-color: #0A0909;
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 48px;
  padding-top: 44px;
}

.text4{
  font-weight: 700;
  font-size: 20px;
}

.text5{
  font-weight: 700;
  font-size: 20px;
}

.slide3{
  position: absolute;
  display: grid;
  width: 1920px;
  background-color:#0E0E0E;
  height: 1290px;
  grid-template-rows: 200px 873px;
  grid-template-columns:  1686px;
  grid-template-areas: 
  " t"
  " c";
  
}


.text6{
  color: white;
  grid-area: t;
  margin-left: 230px;
  margin-top: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.container4{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns:  1fr 1fr 1fr;
  
  grid-area: c;
  background-color: #B08C4D;
  margin-left: 230px;
}


.button2{
  margin-left: 1468px;
  border: 2px solid;
  border-color: #B08C4D;
  background-color:  #0E0E0E;
  color: #B08C4D;
  text-decoration: none;
  width: 218px;
  font-weight: 400;
  font-size: 18px;
  height: 50px;
  margin-top: -967px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.box13{
  background-color: #634F2C;
  color: white;
  font-size: 20px;
  font-weight:  500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.box14{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(232, 210, 171, 0.76);
  color: white;
  font-size: 20px;
  font-weight:  500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  top: 450px;
}

.box15{
  background-color: #E4B564;
  color: white;
  font-size: 20px;
  font-weight:  500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.box16{
  background-color:  #635A4A;
  color: white;
  font-size: 20px;
  font-weight:  500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.box17{
  background-color: #B08C4D;
  color: white;
  font-size: 20px;
  font-weight:  500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.box18{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #634F2C;
  color: white;
  font-size: 20px;
  font-weight:  500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  
}

.hoto2{
  position: absolute;
width: 62px;
height: 55px;
top: 325px;
width: 140px;
}

.hoto1{
  position: absolute;
  width: 62px;
  height: 55px;
  top: 270px;
  }

.text7{
  font-size: 20px;
  font-weight:  500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  top: 400px;
  position: absolute;
}  